<html>
<head>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<h1>Welcome</h1>
<h3>Patient</h3>
<form id="patientForm" method="POST" action="/patient">
    <pre id="patient"></pre>
    <input type="submit" value="Submit"/>
</form>
<div id="patientResponse"></div>
<hr>
<h3>Patient Information</h3>
<form id="patientInfoForm" method="POST" action="/patientInfo">
    <pre id="patientInfo"></pre>
    <input type="submit" value="Submit"/>
</form>
<div id="patientInfoResponse"></div>

<script src="/assets/js/sampleData.js"></script>
</body>
</html>